.carousel-caption {
    position: absolute;
    right: 0;
    bottom: 12.25rem;
    left: 18%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: left;
}

.carousel-item img {
    object-fit: cover;
}

.carousel-des h3 {
    font-size: 3rem !important;
}

.carousel-des p {
    margin: 30px 0px 30px 0px;
}